version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - ADRES_SUPABASE=${ADRES_SUPABASE}
      - KLUCZ_SUPABASE=${KLUCZ_SUPABASE}
      - PORT=8080
      - DEBUGOWANIE=False
    env_file:
      - .env
    restart: unless-stopped
